StooqProxy/StooqProxy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StooqProxy/StooqProxy/packages/repositories.config
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.dll
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.dll.tdnet
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.runner.msbuild.dll
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.runner.tdnet.dll
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.runner.utility.dll
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.xml
StooqProxy/StooqProxy/packages/xunit.1.9.2/xunit.1.9.2.nupkg
StooqProxy/StooqProxyTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StooqProxy/StooqProxy/bin/Debug/StooqProxy.dll
StooqProxy/StooqProxy/bin/Debug/StooqProxy.pdb
StooqProxy/StooqProxy/obj/Debug/DesignTimeResolveAssemblyReferences.cache
StooqProxy/StooqProxy/obj/Debug/StooqProxy.csproj.FileListAbsolute.txt
StooqProxy/StooqProxy/obj/Debug/StooqProxy.csprojResolveAssemblyReference.cache
StooqProxy/StooqProxy/obj/Debug/StooqProxy.dll
StooqProxy/StooqProxy/obj/Debug/StooqProxy.pdb
StooqProxy/StooqProxy/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
StooqProxy/StooqProxy/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
StooqProxy/StooqProxy/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
StooqProxy/StooqProxy/obj/Debug/TempPE/StooqWebConsts.Designer.cs.dll
StooqProxy/StooqProxyTest/bin/Debug/StooqProxy.dll
StooqProxy/StooqProxyTest/bin/Debug/StooqProxy.pdb
StooqProxy/StooqProxyTest/bin/Debug/StooqProxyTest.dll
StooqProxy/StooqProxyTest/bin/Debug/StooqProxyTest.pdb
StooqProxy/StooqProxyTest/bin/Debug/xunit.dll
StooqProxy/StooqProxyTest/bin/Debug/xunit.xml
StooqProxy/StooqProxyTest/obj/Debug/StooqProxyTest.csproj.FileListAbsolute.txt
StooqProxy/StooqProxyTest/obj/Debug/StooqProxyTest.csprojResolveAssemblyReference.cache
StooqProxy/StooqProxyTest/obj/Debug/StooqProxyTest.dll
StooqProxy/StooqProxyTest/obj/Debug/StooqProxyTest.pdb
StooqProxy/StooqProxyTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
StooqProxy/StooqProxyTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
StooqProxy/StooqProxyTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
StooqProxy/StooqProxy/TestResults/StooqProxy.TE.Tests.mdf
StooqProxy/StooqProxy/TestResults/StooqProxy.TE.Tests_log.ldf
StockTools/StockTools/packages/xunit.1.9.2/lib/net20/xunit.dll
StockTools/StockTools/packages/xunit.1.9.2/lib/net20/xunit.dll.tdnet
StockTools/StockTools/packages/xunit.1.9.2/lib/net20/xunit.runner.msbuild.dll
StockTools/StockTools/packages/xunit.1.9.2/lib/net20/xunit.runner.tdnet.dll
StockTools/StockTools/packages/xunit.1.9.2/lib/net20/xunit.runner.utility.dll
StockTools/StockTools/packages/xunit.1.9.2/lib/net20/xunit.xml
StockTools/StockTools/packages/xunit.1.9.2/xunit.1.9.2.nupkg
StockTools/StockTools/StockTools.BusinessLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StockTools/StockTools/StockTools.BusinessLogic/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
StockTools/StockTools/StockTools.BusinessLogic/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
StockTools/StockTools/StockTools.BusinessLogic/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
StockTools/StockTools/StockTools.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StockTools/StockTools/StockTools.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
StockTools/StockTools/StockTools.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
StockTools/StockTools/StockTools.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
StockTools/StockTools/StockTools.BusinessLogic/bin/Debug/StockTools.BusinessLogic.dll
StockTools/StockTools/StockTools.BusinessLogic/bin/Debug/StockTools.BusinessLogic.pdb
StockTools/StockTools/StockTools.BusinessLogic/bin/Debug/StockTools.Entities.dll
StockTools/StockTools/StockTools.BusinessLogic/bin/Debug/StockTools.Entities.pdb
StockTools/StockTools/StockTools.BusinessLogic/obj/Debug/StockTools.BusinessLogic.dll
StockTools/StockTools/StockTools.BusinessLogic/obj/Debug/StockTools.BusinessLogic.pdb
StockTools/StockTools/StockTools.BusinessLogic/obj/Debug/StockTools.Domain.csproj.FileListAbsolute.txt
StockTools/StockTools/StockTools.BusinessLogic/obj/Debug/StockTools.Domain.csprojResolveAssemblyReference.cache
StockTools/StockTools/StockTools.Entities/bin/Debug/StockTools.Entities.dll
StockTools/StockTools/StockTools.Entities/bin/Debug/StockTools.Entities.pdb
StockTools/StockTools/StockTools.Entities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StockTools/StockTools/StockTools.Entities/obj/Debug/StockTools.Entities.csproj.FileListAbsolute.txt
StockTools/StockTools/StockTools.Entities/obj/Debug/StockTools.Entities.csprojResolveAssemblyReference.cache
StockTools/StockTools/StockTools.Entities/obj/Debug/StockTools.Entities.dll
StockTools/StockTools/StockTools.Entities/obj/Debug/StockTools.Entities.pdb
StockTools/StockTools/StockTools.Entities/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
StockTools/StockTools/StockTools.Entities/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
StockTools/StockTools/StockTools.Entities/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
StockTools/StockTools/StockTools.Test/bin/Debug/StockTools.BusinessLogic.dll
StockTools/StockTools/StockTools.Test/bin/Debug/StockTools.BusinessLogic.pdb
StockTools/StockTools/StockTools.Test/bin/Debug/StockTools.Entities.dll
StockTools/StockTools/StockTools.Test/bin/Debug/StockTools.Entities.pdb
StockTools/StockTools/StockTools.Test/bin/Debug/StockTools.Test.dll
StockTools/StockTools/StockTools.Test/bin/Debug/StockTools.Test.pdb
StockTools/StockTools/StockTools.Test/bin/Debug/xunit.dll
StockTools/StockTools/StockTools.Test/bin/Debug/xunit.xml
StockTools/StockTools/StockTools.Test/obj/Debug/StockTools.Test.csproj.FileListAbsolute.txt
StockTools/StockTools/StockTools.Test/obj/Debug/StockTools.Test.csprojResolveAssemblyReference.cache
StockTools/StockTools/StockTools.Test/obj/Debug/StockTools.Test.dll
StockTools/StockTools/StockTools.Test/obj/Debug/StockTools.Test.pdb
StockTools/StockTools/StockTools.Test/bin/Debug/Files/transactions.csv
StockTools/StockTools/TestResults/StockTools.TE.Tests.mdf
StockTools/StockTools/TestResults/StockTools.TE.Tests_log.ldf
StockTools/StockTools/StockTools.Domain/bin/Debug/StockTools.BusinessLogic.dll
StockTools/StockTools/StockTools.Domain/bin/Debug/StockTools.BusinessLogic.pdb
StockTools/StockTools/StockTools.Domain/bin/Debug/StockTools.Entities.dll
StockTools/StockTools/StockTools.Domain/bin/Debug/StockTools.Entities.pdb
StockTools/StockTools/StockTools.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StockTools/StockTools/StockTools.Domain/obj/Debug/StockTools.BusinessLogic.dll
StockTools/StockTools/StockTools.Domain/obj/Debug/StockTools.BusinessLogic.pdb
StockTools/StockTools/StockTools.Domain/obj/Debug/StockTools.Domain.csproj.FileListAbsolute.txt
StockTools/StockTools/StockTools.Domain/obj/Debug/StockTools.Domain.csprojResolveAssemblyReference.cache
StockTools/StockTools/StockTools.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
StockTools/StockTools/StockTools.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
StockTools/StockTools/StockTools.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
