StooqProxy/StooqProxy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StooqProxy/StooqProxy/packages/repositories.config
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.dll
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.dll.tdnet
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.runner.msbuild.dll
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.runner.tdnet.dll
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.runner.utility.dll
StooqProxy/StooqProxy/packages/xunit.1.9.2/lib/net20/xunit.xml
StooqProxy/StooqProxy/packages/xunit.1.9.2/xunit.1.9.2.nupkg
StooqProxy/StooqProxyTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
