@{
    ViewBag.Title = "Index";
}

<h1>Stock tools</h1>
<div id="intraday">
    <h2>Intraday downloader</h2>
    @using (Html.BeginForm(MVC.Home.ActionNames.DownloadBOSSAIntraday, MVC.Home.Name, FormMethod.Post))
    {
        <h3>Select destination</h3>
        <input type="file" name="intradayFile" webkitdirectory multiple/>
        <input type="submit" name="Download" value="Download" />
    }
</div>
